body{
width: 97%;
margin: auto;
max-width: 100%;
background: url(/image/ffun.png);
background-size: cover;
background-repeat: no-repeat;
font-family: "Noto-sans-SC";
border: 10px;
color: #00aeff;
line-height: 2.0
}
*{
text-align: center;
}
main{
background-color: rgba(136, 124, 124, 0.503);
padding: 5;
margin-top: 70px;
color: black;
}
.final{ 
position:absolute;
background-image: url(final.png);
width:auto;
height:auto; 
float: right; 
margin-bottom: 0;
position: absolute; 
right: 0px; 
bottom: 0;
}
.esquerdonu{
float: left;
width: 30%; }
.direito{
float: right;
width: 60%; }
.tudo{
display: table;
}
.clear { clear: both; }
.bloco{
float: left;
height: 150px;
width: 199px;
Color: Black ;
margin-top: -22px;
margin-bottom: 25px;
font-size: 25px;
image-resolution: 3200dpi ;
}
.bloco2{
float: left;
height: 150px;
width: 199px;
Color: blue ;
margin-top: -22px;
margin-bottom: 25px;
font-size: 25px;
image-resolution: 3200dpi ;
}
.font {
font-size: 10;
font-size-adjust: 10;
}
.font2 {
font-size: 1;
font-size-adjust: 1;
}
a{
    color: blue;
}
p{
    color: black;
}