*{
text-align: center;
align: center;
}
body{
width: 90%;
margin: auto;
max-width: 70%;
background: url(/image/ffun.png);
background-size: cover;
background-repeat: no-repeat;
border: 20px;
color: #00aeff;
line-height: ;
}
main{
background-color: rgba(136, 124, 124, 0.503);
padding: 5;
margin-top: 80px;
color: black;
border-color: black;
}
a{
    color: black;
}
p{
    line-height: 4;
}
img{
    align: center;
}