*{
    text-align: center;
}
body{
	background-image: url(/image/linux-background.jpg);
	background-size: cover;
    background-repeat: no-repeat;
    color: #00aeff;
}
main{
    background-color: rgba(136, 124, 124, 0.503);
    padding: 5;
    margin-top: 70px;
    color: black;
    width: 15%;
    max-width: 100%;
	margin: auto;
	border-radius: 15px;
}
