/* 

    Css By Sirherobrine23 (@sirherobrine23)(Matheus S. Queiroga).

    *****-****-******-*****-* 

    Css de Sirherobrine23 (@Sirherobrine23)(Matheus S. Queiroga).



*/

:root{

    /*1*/
    --apple1: #b2b2b2; 
    --apple2: rgb(178.178.178);

    /*2*/
    --apple3: #575757;	
    --apple4: rgb(87,87,87);

    /*3*/
    --apple5: #4ed4b3;	
    --apple6: rgb(78.212.179);

    /*4*/
    --apple7: #51b0d7;
    --apple8: rgb(81.176.215);

    /*5*/
    --apple9: #000000;
    --apple10: rgb(0,0,0);
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  }

html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  @-ms-viewport {
    width: device-width;
  }
  
.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color: inherit;
    background-color:  rgb(178,178,178);
    /*border-radius: 25px;*/
}
.mathe{
    border-radius: 21px;
    background-color: rgb(87,87,87);
    text-align: center;
    margin-top: 10px;
}
body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;

    min-width: 992px !important;

    border: 20px;
    background-attachment: fixed;

     
}
.ma{
    text-align: center;
    padding: 5;
    margin-top: 80px;
    color: black;
    background-color: #b2b2b2;
}
.container img{
    width:  3rem;    /* largura da imagem */
    height: 3rem;   /*  altura da imagem  */
    /*margin-top: 70rem;  margem do topo */
}

.col-md-3{
    height: 15%;
    width:  15%;
    transition: all 5s;
}
.col-md-3:hover{
    height: 20%;
    text-align: center;
    padding: 5%;
    display: block;
}
.more{
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.5s linear;
    -moz-transition: opacity 0.5s linear;
    -o-transition: opacity 0.5s linear;
    transition: opacity 0.5s linear;
}
.col-md-3:hover .more{
    visibility: visible;
    opacity: 1;
}












/*--------------------*/



.jumbotron {
    padding: 2rem 1rem;
    margin: 20px;
    border-radius: 0.3rem;
  }
/*  
@media (min-width: 576px) {
    .jumbotron {
      padding: 4rem 2rem;
    }
  }
*/
  .text-center {
    text-align: center !important;
  }
  
  .container {
    min-width: 992px !important;
    padding: 5%;
    align: center;
}

  .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }