body{
    background: fixed;
    /*background-color: rgb(0, 0, 0);*/
    background-size: cover;
    background-image:linear-gradient(to bottom ,#f0f0f0 0%, rgb(148, 148, 148) 100%);
}
main{
    text-align: center;
    margin: auto;
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 13px;
    background-color: rgba(38, 38, 163, 0.753) ;
    margin-top: 0.9%;
    line-height: 30px;
    padding: 5;
}
.btn-more {
	display: block;
	text-decoration: none;
	position: relative;
	float: right;
	padding:3px 10px;
	background: rgb(6, 22, 168);
	border-radius: 25px;
	margin:10px;
}
.spotify{
    /*background-color: green;*/
    color: green;
    border-radius: 50px;
}
.youtube{
    /*background-color: red;*/
    color: red;
    border-radius: 15px;
}
.deezer{
    background-color: transparent;
}
a{
    color: white;
    transition: all 0.5s;
}
a:hover{
    color: rgb(190, 31, 31);
}