body{
    background: fixed;
    /*background-color: rgb(0, 0, 0);*/
    background-size: cover;
    background-image:linear-gradient(to bottom ,#000000 50%, rgb(0, 255, 34) 100%);
}
main{
    text-align: center;
    margin: auto;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 13px;
    /*background-color: rgba(38, 163, 111, 0.753) ;*/
    background-image:linear-gradient(to bottom ,#1c78c38a 50%, rgb(0, 0, 0)100%);
    margin-top: 50px;
    line-height: 30px;
    padding: 5;
}
a{
    color: white;
}
.btn-more {
	display: block;
	text-decoration: none;
	color: rgb(255, 255, 255);
	position: relative;
	float: right;
	padding:3px 10px;
	background: rgb(6, 22, 168);
	border-radius: 25px;
	margin:10px;
}





