body {
        background-color: rgba(0, 15, 115, 1);
	border-radius: 24px;
        font-Family: Minecraft;
        font-size: 20px;
}
@font-face {
  font-family: Minecraft;
  src: url(https://old.sirherobrine23.org/Minecraft.ttf);
}
img {
        border: 0;
}

#wrapper {
        background-color: rgb(255,255,255);
        width: 95%;
        padding: 10px;
        text-align: center;
	border-radius: 24px;
        font-Family: Minecraft;
        font-size: 20px;
}

#titulo {
        text-align: center;
        font-Family: Minecraft;
        font-size: 20px;
}

#listagem table {
        width: 90%;
        margin: 10px auto 10px auto;
        text-align: left;
        font-Family: Minecraft;
        font-size: 20px;
}

#listagem table tr th {
        display: none;
        font-Family: Minecraft;
        font-size: 20px;
}

#disclaimer {
        width: 75%;
        margin: 0 auto 0 auto;
        text-align: center;
        font-Family: Minecraft;
        font-size: 20px;
}
